@model Disk1.Models.bd.Other

@{
    ViewBag.Title = "Создание - разное";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()


<div class="form-horizontal">
    <legend><h2><b>Создание:<br />разное</b></h2></legend>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.string1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.string1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.string1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.string2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.string2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.string2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.string3, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.string3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.string3, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.string4, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.string4, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.string4, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.string5, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.string5, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.string5, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.string6, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.string6, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.string6, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-info" })
</div>
