@model IEnumerable<Disk1.Models.bd.CNAP>
@using Disk1.Helpers;
@{
    ViewBag.Title = "Правый город";
}

<div class="row">
    <div class="col-sm-12" style="text-align:center;">
        <h3>Правый берег</h3>
    </div>
</div>

<div class="table-responsive">
    <table class="table" border="1" style="border-collapse: separate;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Got)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (string.IsNullOrEmpty(item.Got.ToString()))
            {
                <tr style="background-color:rgba(164, 194, 244, 0.65);">
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @String.Format("{0:dd/MM/yyyy}", item.Gave)

                    </td>
                    <td>
                        @String.Format("{0:dd/MM/yyyy}", item.Got)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                </tr>
                continue;
            }
            <tr style="background-color:rgba(255, 217, 102, 1);">
                <td>
                    @Html.DisplayFor(modelItem => item.FIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy}", item.Gave)

                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy}", item.Got)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
            </tr>

        }
    </table>
</div>