<div id="private-table" class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-3">
            @Html.ActionLink("правий (город)", "Index", "Right", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("ЦНАП контроль", "Index", "CNAPControl", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("левий (райони)", "Index", "LeftCity", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Норматівки", "Index", "Normative", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("неприватизация", "Index", "nonPrivatization", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("внесеня змін", "Index", "Alteration", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("6-зем", "Index", "Sixzem", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("викопіювання", "Index", "Dumping", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3 col-sm-offset-3">
            @Html.ActionLink("Онлайн витяг", "Index", "Online", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("заявка-витяг 80грн.", "Index", "Zav80", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
    </div>
</div>
