<div id="private-table" class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-3">
            @Html.ActionLink("Правий", "Index", "Right", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Лівий", "Index", "LeftCity", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("6-зем", "Index", "Sixzem", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Викопіювання", "Index", "Dumping", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Про неприватизацію", "Index", "nonPrivatization", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Нормативно грошова", "Index", "Normative", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Внесення змін", "Index", "Alteration", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Витяг 80грн", "Index", "Zav80", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3 col-sm-offset-3">
            @Html.ActionLink("Онлайн", "Index", "Online", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Контроль цнап", "Index", "CNAPControl", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Разное", "Index", "Other", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
    </div>
</div>
