<div id="public-table" class="container">
    <div class="row" style="margin-top: 10px;">

        <div class="col-sm-3">
            @Html.ActionLink("правий (город)", "RightCity", "Home", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("ЦНАП контроль", "CNAPControl", "Home", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("левий (райони)", "LeftCity", "Home", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Норматівки", "Normative", "Home", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("неприватизация", "nonPrivatization", "Home", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("внесеня змін", "Alteration", "Home", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("6-зем", "Sixzem", "Home", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("викопіювання", "Dumping", "Home", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3 col-sm-offset-3">
            @Html.ActionLink("Онлайн витяг", "Online", "Home", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("заявка-витяг 80грн.", "Zav80", "Home", new { area = "" }, new { @class = "btn btn-info", style = "width: 100%; border-radius: 0px;" })
        </div>
    </div>
</div>